/* custom colors variables */
:root {
  --color1: #deb887;
  --color2: #a52a2a;
  --color3: #808080;
  --color5: #ffffff;
  --color6: #000000;
}

body {
  background-image: url(./image/coffee-beans-background-image.jpg);
  background-position: center;
  font-family: sans-serif;
  padding: 20px;
}

.menu-container {
  width: 80%;
  background-color: var(--color1);
  margin: 0 auto;
  padding: 20px;
  max-width: 800px;
}
h1 {
  font-size: 40px;
  margin-top: 0;
  margin-bottom: 15px;
}
h2 {
  font-size: 30px;
}
h1,
h2 {
  font-family: Impact, serif;
}
.established {
  font-style: italic;
}
h1,
h2,
p {
  text-align: center;
}
.flavor,
.dessert {
  text-align: left;
  width: 75%;
}
.price {
  text-align: right;
  width: 25%;
}
.product p {
  display: inline-block;
  margin: 10px 0;
  font-size: 18px;
}
hr {
  height: 2px;
  background-color: var(--color2);
  border-color: var(--color2);
}

.bottom-line {
  margin-top: 25px;
}

footer {
  font-size: 14px;
}
a {
  color: var(--color6);
}

a:visited {
  color: var(--color6);
}
a:active {
  color: var(--color5);
}
.address {
  margin-bottom: 5px;
}
img {
  display: block;
  margin: -25px auto 0 auto;
}
