body {
  background-image: url(./image/coffee-beans-background-image.jpg);
  background-position: center;
}

.menu-container {
  width: 80%;
  background-color: burlywood;
  margin: 0 auto;
  padding: 0 20px;
}

h1,
h2,
p {
  text-align: center;
}
.flavor,
.dessert {
  text-align: left;
  width: 75%;
}
.price {
  text-align: right;
  width: 25%;
}
.product p {
  display: inline-block;
}
